[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
# just for china
# url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
aniso8601 = "==7.0.0"
click = "==7.0"
flask-httpauth = "==3.3.0"
itsdangerous = "==1.1.0"
passlib = "==1.7.1"
pytz = "==2019.1"
six = "==1.12.0"
Flask = "==1.0.3"
Flask-Cors = "==3.0.8"
Flask-RESTful = "==0.3.7"
Flask-SQLAlchemy = "==2.4.0"
Jinja2 = "==2.10.1"
MarkupSafe = "==1.1.1"
PyMySQL = "==0.9.3"
SQLAlchemy = "==1.3.4"
Werkzeug = "==0.15.4"
flask-migrate = "*"
gevent = "*"
gunicorn = "*"
flask-mail = "*"
redis = "*"
flask-redis = "*"
flask-uploads = "*"
python-dotenv = "*"
celery = "*"

[requires]
python_version = "3.7"
